.note-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    gap: 15px;
 }

 .note-details-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
 }

 .spacer{
    width: 75%;
 }



@media (max-width: 768px) {
.spacer{
   width: 40%;
}
   }